<!DOCTYPE html>
<html>
  <head>
    <title>colin's blog</title>
    <link type="text/css" rel="stylesheet" href="/styles/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <table width="100%">
      <tr>
        <td><a href="/"><h1>colin's blog</h1></a></td>
        {%- if usr -%}
        <td>Welcome, {{usr}}!</td>
        <td style="text-align: right"><button type="button"><a href="/logout">logout</a></button></td>
        <td style="text-align: right"><button type="button"><a href="/new_post">new post</a></button></td>
        {%- else -%}
        <td style="text-align: right"><button type="button"><a href="/registration">regsiter</a></button></td>
        <td style="text-align: left"><button type="button"><a href="/login">login</a></button></td>
        {%- endif -%}
      </tr>
    </table>
    {% block content %}
    {% endblock %}
  </body>
  <footer>
    <hr>
    <table width=100%>
      <tr>
        <td><h3><a href="/archive">archive</a></h3></td>
        <td style="text-align: center"><h3><a href="/map">map</a></h3></td>
        <td style="text-align: right"><h3><a href="/modify_post">modify</a></h3></td>
      </tr>
    </table>
  </footer>
</html>
