{%- extends "layout.html" -%}
{%- block content -%}
{%- for blog in blogs -%}
<hr>
  <div class="body">
    <table width="100%">
      <tr>
        <td><div class="body-title">{{blog.title}}</div></td>
        <td align="right">
          <table>
            <tr>
              <td>{{blog.created.strftime('%m.%d.%Y')}}</td>
              <td>
                <form action="/blog/{{blog.key().id()}}/edit">
                  <button>modify</button>
                </form>
              </td>
              <td>
                <form action="/blog/{{blog.key().id()}}/delete">
                  <button onclick="confirm('Are you sure you want to delete?')">delete</button>
                </form>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
</div>
{% endfor %}

<!-- {%- for blog in blogs -%}

<form action="/cross-off" method="post">
    <label>
        I want to cross off
        <select name="crossed-off-movie"/> -->
            <!-- *leave this commented out* need to loop over watchlist to create option elements -->
            <!-- {% for movie in watchlist: %}
                <option value="{{ movie }}">{{ movie }}</option>
            {% endfor %}
        </select>
        from my watchlist.
    </label>
    <input type="submit" value="Cross It Off"/>
</form>
{%- endfor -%} -->
{%- endblock -%}
